@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
  @apply text-3xl;
}

body{
  font-family: "Work Sans", sans-serif;
}

.swiper-button-nextt.custom-next{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #545454;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }
  .swiper-button-prevv.custom-prev{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #545454;
  border-radius: 50%;
  }


  .swiper-button-prevv.custom-prev.swiper-button-disabled {
    opacity: 0.3;
    cursor: no-drop;
}

.swiper-button-nextt.custom-next.swiper-button-disabled  {
  opacity: 0.3;
  cursor: no-drop;
}