
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
  @apply text-3xl;
}

body{
  font-family: "Inter", sans-serif;

}
h1,h2,h4,h5,h6{
  font-family: "Plus Jakarta Sans", sans-serif;
}
h3{
  font-family: "Inter", sans-serif;

}

.swiper-button-nextt.custom-next{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #545454;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }
  .swiper-button-prevv.custom-prev{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #545454;
  border-radius: 50%;
  }


.swiper-button-prevv.custom-prev.swiper-button-disabled {
    opacity: 0.3;
    cursor: no-drop;
}

.swiper-button-nextt.custom-next.swiper-button-disabled  {
  opacity: 0.3;
  cursor: no-drop;
}


.swiper-pagination-2{
  text-align: center;
}
.swiper-pagination-bullet-active{
  background-color: #000;
}

.video-blog-row{
  margin-bottom: 64px !important;
}

.cta-bnr{
  background-image: url('../images/analysis-cate-image.jpg');
  background-position: center center;
  background-size: cover;
}

.ana-pagi-mt{
  margin-top: 100px !important;
}


.categories_slider_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}
@media (min-width: 576px) {
  .categories_slider_pagination {
    margin-top: 1rem;
  }
}
.categories_slider_pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #2F3034;
  border-radius: 100%;
  transition: all .3s ease-in-out;
  margin: 0 !important;
}

.categories_slider_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: red;
}

.blog-metadata p{
  color: #777C85;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.blog-metadata p span{
  color: #de893e;
  font-weight: 500;
}
.blog-metadata p strong{
  color: #000;
  font-weight: 500;
}

/* Toc */
.toc-list ul{
  list-style-type: disc;
  margin-left: 16px;
}
.toc-list ul li{
  color: #777C85;
  margin-bottom: 16px;
}
.toc-list ul li:last-child{
  margin-bottom: 0;
}
.toc-list ul li a{
  display: inline-block;
}
.toc-list ul li:hover{
  list-style-type: square;
  color: #000;
}
.toc-list ul li a:hover{
  color: #000;
}
.social-icon ul{
  display: flex;
  justify-content: start;
  column-gap: 18px;
  margin: 32px 0 0 0;
}
.social-icon ul li{
  list-style-type: none;
}

.social-icon ul li a{
  display: inline-block;
  padding-right: 18px;
}
.social-icon ul li a:last-child{
  padding-right: 0;
}
.social-icon a{
  color: #3D4044;
}




/* Blog content */
.blog-content ul{
  margin-left: 32px;
  margin-bottom: 24px;
}
.blog-content ul li{
  list-style-type: disc;
}
.blog-content p{
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.bookmark-text{
  background-color: #FCF7E8;
  border-left: 1px solid #DE893E;
  padding: 32px;
  margin-bottom: 24px;
}
.bookmark-text ul{
  margin-bottom: 0;
}
.bookmark-text h3{
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #3D4044;
}

.blog-content img{
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 24px;
}
.blog-content h2{
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

/* Author Details page css */

.author_wrapper .author_details{
  border: 1px solid #DEDDE6;
  padding: 25px 24px 32px 24px;
  border-radius: 20px;
}
.author_wrapper .author_details p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #3D4044;
  padding-top: 16px;
}

.author_details h3{
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -1%;
  color: #000;
}


.blockquote{
  border-left: 1px solid #777C85;
  padding: 0 32px 0 32px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  font-style: italic;
}
 .text p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
 }

 .heading h3{
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
 }

 .list ul{
  margin-left: 20px;
 }
 .list ul li{
  list-style-type: disc;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
 }